.backgroundedLogin{
    -fx-background-image: url("../Images/Login.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.backgroundedSignUp{
    -fx-background-image: url("../Images/Sign.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.backgroundedHome{
    -fx-background-image: url("../Images/Home.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.backgroundedAddItem{
    -fx-background-image: url("../Images/sign.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.backgroundedProfile{
    -fx-background-image: url("../Images/Img2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.profile-label {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Dark gray text color */
    -fx-padding: 5px;
}
.root {
    -fx-background-color: #F4F4F4;
    -fx-text-fill: #333333;
}

.label {
    -fx-font-size: 16px;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #000000; /* Black text */
}
/*Start of ListView & TableView

/*Start Of Button Style*/
.button {
    -fx-background-color: rgba(54, 82, 173, .9);
    -fx-border-width: 0;
    -fx-height: 48px;
    -fx-background-radius: 56px;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
    -fx-alignment: center;
    -fx-text-decoration: none;
    -fx-transition: all .3s;
    -fx-user-select: none;
    -fx-touch-action: manipulation;
}

.HomeButton .button{
    -fx-background-color: rgba(255, 248, 227, .65);
    -fx-border-width: 0;
    -fx-height: 48px;
    -fx-background-radius: 56px;
    -fx-text-fill: brown;
    -fx-cursor: hand;
    -fx-font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    -fx-font-size: 19px;
    -fx-font-weight: 700;
    -fx-alignment: center;
    -fx-text-decoration: none;
    -fx-transition: all .3s;
    -fx-user-select: none;
    -fx-touch-action: manipulation;
}
.button:before {
    -fx-background-color: initial;
    -fx-background-radius: 125px;
    -fx-opacity: .5;
    -fx-transition: all .3s;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, .2), 0, 0, 0, 3);
}

@media (min-width: 768px) {
    .button {
        -fx-padding: 16px 48px;
    }
}

.text-area {
    -fx-control-inner-background: #ECF0F1;
    -fx-text-fill: #333333;
}

.list-view, .table-view {
    -fx-text-fill: #333333;
    -fx-table-cell-border-color: transparent;
}

.list-cell:filled:selected, .table-row-cell:filled:selected {
    -fx-background-color: rgba(182, 187, 196, 1);
    -fx-text-fill: #FFFFFF;
}

.list-cell:hover, .table-row-cell:hover {
    -fx-background-color: rgba(182, 187, 196, .5);
}

.table-view .column-header-background {
    -fx-background-color: #2D9596;
    -fx-text-fill: #FFFFFF;
}

.table-column {
-fx-font-size: 18 px;
    -fx-alignment: CENTER;
}

.table-row-cell:odd {
    -fx-background-color: rgba(224, 244, 255, .2);
}

.table-row-cell:even {
    -fx-background-color: rgba(225, 152, 152, .3);
}

.list-cell:even {
    -fx-background-color: rgba(225, 152, 152, .3);
}
.table-row-cell:hover {
    -fx-background-color: rgba(182, 187, 196, .5);
}
.HomeContentLabel{
    -fx-text-fill: brown;
    -fx-font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    -fx-font-size: 17px;
    -fx-font-weight: 680;
}
